<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        .indent {
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 20px;
        }
    </style>
    <title>Редактирование информации об услуге</title>
</head>
<body class="d-flex flex-column min-vh-100">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<nav th:replace="general :: site-header">
</nav>

<div class="indent">
    <form method="post" action="/save_service">

        <label for="id_service">service_id:</label>
        <input type="text" id="id_service" name="id_service" th:value="${service.getId()}"><br><br>

        <label for="name">Название услуги:</label>
        <input type="text" id="name" name="name" required th:value="${service.getName()}"><br><br>

        <label for="describe">Описание услуги:</label>
        <input type="text" id="describe" name="describe" required th:value="${service.getDescr()}"><br><br>

        <label for="price">Приблизительная стоимость:</label>
        <input type="text" id="price" name="price" required th:value="${service.getPrice()}"><br><br>

        <input id="submitButton" type="submit" value="Сохранить" class="btn btn-primary">
    </form>
</div>

<footer th:replace="general :: site-footer">
</footer>
</body>
</html>